/* global settings */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main-container {
  display: grid;
  grid-template: 1fr / 0.2fr 1fr;
  height: 100vh;
}

/* sidebar with all buttons and forms */
#info-container {
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-input-field {
  font-family: inherit;
  font-size: 0.8rem;
  height: 50px;
}

.regular-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.regular-button,
.medium-button,
.small-button,
#save-resume-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 250px;
  text-align: left;
}

.medium-button {
  margin-top: 3%;
  border-radius: 20px;
  min-width: 100px;
}

.small-button {
  margin-top: 3%;
  border-radius: 50%;
  font-size: 1em;
  min-width: 50px;
  min-height: 50px;
  width: 20px;
  height: 20px;
}

#save-resume-button {
  background-color: #3b3b3b;
  text-align: center;
}

#save-resume-button:hover {
  border-color: #646cff;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

.info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px;
}

.observation {
  font-style: italic;
  font-size: 0.7rem;
  margin-left: 3%;
  color: rgb(173, 173, 173);
}

.form-row {
  display: flex;
  flex-direction: column;
  align-content: left;
  text-align: left;
  gap: 5px;
  margin-top: 2px;
}

.information-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-top: 2px;
}

/* resume stuff */
#resume {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  min-height: 1100px;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
  line-height: 1.6;
}

#resume h1 {
  font-size: 3.2rem;
  margin-bottom: -1%;
}

#resume h2 {
  font-size: 1.5rem;
  text-align: left;
}

#resume p,
li {
  font-size: 1rem;
}

#resume li {
  text-align: left;
}

.resume-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: -3%;
  gap: -5px;
}

#resume .duration {
  text-align: right;
  font-size: 0.8rem;
}

.title {
  text-align: left;
}

.resume-line {
  border-bottom: 1px solid black;
}

/* settings to allow users to save/print their resumes */
@media print {
  html,
  body {
    height: auto;
  }
  #resume {
    position: absolute;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1cm;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 12pt;
    page-break-inside: avoid;
  }
  #resume {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background: white;
  }
}
